$darkgrey: #222222;
$blue: #4C8BA8;


footer {
	clear: both;
	// background: 
	// linear-gradient(
 //      rgba(0, 0, 0, 0.65), 
 //      rgba(0, 0, 0, 0.65)
 //    ),
	// url(img/marshall.jpg) fixed center;
	// background-size: cover;
	padding: 20px;
	a h3 {
		transition: 0.3s;
	}
	a h3:hover {
		color: $blue;
	}
	p, a {
		margin: 0;
		color: white;
		font-size: 1.2rem;
		text-align: center;
	}
}

.footer-nav {
	text-align: center;
	margin: 50px 0;
	a {
		font-size: 1.6rem;
	}
}
