.sidebar {
	width: 30%;
	float: left;
	background: url(img/zwartevilt.png);
	padding: 50px 30px;
	ul {
		margin: 0;
		padding: 0;
		li {
			list-style: none;
		}
	}
}

form #searchform {
	width: 100%;
}

input[type=search] {
	padding: 10px;
	width: 50%;
	text-align: center;
	margin-right: 5px;
}

.searchsubmit {
	background: $blue;
	border: none;
	padding: 13px 0;
	margin-bottom: 20px;
	width: 30%;
	text-align: center;
}

.widget-title {
	text-align: left;
	margin-top: 40px;
}

.widget-title:after {
	width: 100%;
}

.xoxo li {
	margin-bottom: 10px;
}


/*
====================================
Media Queries
====================================
*/

@media all and (max-width: 768px) {
	.sidebar {
		width: 45%;
	}
}

@media all and (max-width: 600px) {
	.sidebar {
		display: none;
	}
}
